<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="dashboard">
  <div class="dashboard-container">
    <div class="profile-container">
      <div>
        <div class="user-avatar">
          <h4><%= @user.first_name[0] unless @user.first_name.nil? %></h4>
        </div>

      </div>
      <div class="user-info">
        <h3><%= @user.first_name unless @user.first_name.nil? %> <%= @user.last_name unless @user.last_name.nil? %></h3>
        <div class="contact-details">
          <p><i class="fas fa-map-marker-alt"></i> Berlin, Germany</p>
          <p><i class="far fa-envelope"></i> <%= @user.email unless @user.email.nil? %></p>
          <p><i class="fas fa-phone-alt"></i> <%= @user.phone unless @user.phone.nil? %></p>
        </div>
        <p>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary"%>
        </p>
      </div>
    </div>

    <div class="tag-info-container">
      <h3>Registered tags</h3>
      <div class="tag-info tag-info-header">
        <h4 class="item">#</h4>
        <h4 class="item">Category</h4>
        <h4 class="item">ID-Code</h4>
        <h4 class="item">Registered Date</h4>
        <h4 class="item">Status</h4>
      </div>

      <% @user.tags.each do |t| %>
        <div class="tag-info">
          <p class="item"><%= @sequence += 1 %></p>
          <p class="item"><%= t.category %></p>
          <p class="item"><%= t.code %></p>
          <p class="item"><%= t.created_at.strftime("%B %d, %Y") %></p>
          <p class="item"><%= t.registered %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Shared Footer -->
<%= render "shared/footer" %>
