<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session">
  <div class="auth-session-container">
    <h3>Edit account details</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "Name*",
                    label: false %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "E-mail*",
                    label: false %>
        <%= f.input :phone,
                    required: false,
                    input_html: { autocomplete: "phone" },
                    placeholder: "Telefon",
                    label: false %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "Your current password",
                    label: false %>
      </div>

      <div class="form-actions d-flex">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "ml-1 btn btn-outline-primary" %>
      </div>
    <% end %>

    <div class="mt-3">
      <p>Unhappy? <%= link_to "Delete account", registration_path(resource_name),  data: { confirm: "Are you sure?" }, method: :delete, class: "text-danger" %></p>
    </div>
  </div>
</div>

<!-- Shared Footer -->
<%= render "shared/footer" %>



