<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session bg-white sign-up-form">
  <div class="auth-session-container">
    <h2>Konto erstellen</h2 >

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

      <h3>Deine Daten werden ausschließlich dafür genutzt, dich beim Verlust deiner Gegenstände zu informieren. Versprochen. </h2>
        <%= f.input :first_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "Denk dir etwas aus oder nimm deinen echten Namen",
                    label: "Wie willst du genannt werden?" %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "E-mail",
                    label: "Email" %>
        <%= f.input :phone,
                    required: true,
                    input_html: { autocomplete: "phone" },
                    placeholder: "+49....",
                    label: "Telefon" %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} Zeichen mindestens" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" },
                    placeholder: "Passwort",
                    label: "Passwort" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "password" },
                    placeholder: "Passwort bestätigen",
                    label: "Passwort bestätigen" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Registrieren", class: "btn btn-primary" %>
      </div>
    <% end %>

    <!-- Shared Links -->
    <%= render "devise/shared/links" %>

    <!-- Policy and Terms of Service -->
    <p class="terms-of-service">By signing up, I agree to the <a href="#">Terms of Service</a>.</p>
  </div>
</div>

