<!-- Shared Footer -->
<%= render "shared/navbar_shared" %>

<div class="auth-session">
  <div class="auth-session-container">
    <h2>Konto erstellen</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "Name*",
                  label: false %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "E-mail*",
                  label: false %>
      <%= f.input :phone,
                  required: false,
                  input_html: { autocomplete: "phone" },
                  placeholder: "Telefon",
                  label: false %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} Zeichen mindestens" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  placeholder: "Passwort*",
                  label: false %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "password" },
                  placeholder: "Passwort bestätigen*",
                  label: false %>
    </div>

    <div class="form-actions d-flex justify-content-between">
      <%= f.button :submit, "Registrieren", class: "btn btn-primary" %>
      <!-- Shared Links -->
      <div class="d-flex align-items-center">
        Bereits registriert?
        <%= link_to "Einloggen", new_session_path(resource_name), class: "ml-1" %>
      </div>
    </div>
  <% end %>



  </div>
</div>

<!-- Shared Footer -->
<%= render "shared/footer" %>

