<img src="https://res.cloudinary.com/dyuwip9bs/image/upload/v1591955235/bibtome/website/OG_META_PIC_tvfxrt_1_szsgrb.jpg" />

<br>
<br>
<h1><%= @tag.user.first_name %>, your <%=@tag.category %> was found!</h1>
<!-- Action -->
<p> Here is the finders contact information:</p>

<%= @full_message %>

<p>For reference, here's your tag information:</p>
<table class="attributes" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="attributes_content">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="attributes_item"><strong>Tag-ID:</strong> <%= @tag.code %></td>
        </tr>
        <tr>
          <td class="attributes_item"><strong>Item:</strong> <%= @tag.category %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>Contact the finder now!</p>
<table class="attributes" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="attributes_content">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="attributes_item"><strong>Time item was scanned :</strong> <%= @finder.updated_at %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>If you have any questions, feel free to <a href="mailto:hello@bibto.me">email our customer success team</a>.
<p>Thanks,
  <br>The bibto.me team</p>
