<!-- Dashboard -->


<div class="page-title">
  <div class="container">
    <h2 class="text-center">Welcome</h2>
    <%= link_to (image_tag "return.png", alt: "alttext", class: "btn-go-back"), :back %>
  </div>
</div>

<div class="container">

  <div class="welcome-container text-center">

    <h2> <%= @user.first_name %> </h2>

    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-super-large", alt: "avatar-large" %>

    <p class="text-center"> <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-bib btn-green btn-margin", style: "padding: 4px 20px;" %> </p>
  </div>

  <div class="text-center">
    <h3>Your registered tags</h3>
    <% all_tags = Tag.where(user_id: current_user) %>
    <% all_tags.each do |t| %>
    <div>
      <%= t.code %>
      <%= t.registered? ? "registered tag!" : "" %>
      <%= t.category %>
    </div>
    <% end %>
  </div>

<!--   <div class="text-center">
    <%= link_to "Back to Home", root_path %>
  </div> -->
</div>
