<nav class="shared-navbar">
  <div class="container larger-devices d-flex justify-content-between align-items-center">
      <%= link_to root_path do %>
        <%= image_tag("logo-blue.png", alt: "Bibtome Logo", class: "logo logo-blue")%>
      <% end %>
      <ul class="navbar">
        <li><%= link_to "Tag registrieren", register_input_path, class: "btn btn-nav-link" %></li>
        <li><%= link_to "Zurückgeben", finder_input_path, class: "btn btn-nav-link" %></li>
        <li><%= link_to "Über uns", root_path, class: "btn btn-nav-link" %></li>
        <!-- <li><%#= link_to "Team", root_path, class: "btn nav-link" %></li> -->
        <li><%= link_to "Kontakt", root_path, class: "btn btn-nav-link" %></li>
        <% if user_signed_in? %>
          <%= render "shared/user_avatar" %>
          <i class="fas fa-ellipsis-v dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <%= render "shared/dropdown" %>
        <% else %>
          <li><%= link_to "Einloggen", new_user_session_path, class: "btn btn-nav-link" %></li>
          <li><%= link_to "Registrieren", new_user_registration_path, class: "btn btn-primary" %></li>
        <% end %>
      </ul>

      <!-- Navbar for Mobile devices only -->
      <%= render "shared/menu" %>
    </div>
</nav>
