<div class="page-title">
  <div class="container mb-2">
    <div class="d-flex">
        <%= link_to :back do %>
          <h2><i class="fas fa-chevron-left text-dark"></i></h2>
        <% end %>
      <h2 class="mx-auto">Register Tag</h2>
      <h2><i class="far fa-bell text-white"></i></h2>
    </div>
  </div>
</div>
</div>

<div class="container mt-5">
  <p class="text-center">
    To register your tag, please enter your code below:
  </p>
     <%= form_tag update_register_input_path, method: :patch do %>
    <%= text_field_tag :code,
      params[:code],
      class: "form-control bib-form-styling text-input",
      placeholder: "Enter your code here"
    %>
    <% if @error %>
    <span class="text-danger ml-3 text-input"><%= @error%></span>
    <% end %>
    <%# if current_user == nil %>
      <%#= submit_tag "Register now",class: "btn btn-bib btn-green btn-form btn-margin disabled" %>
    <%# else %>
    <%= submit_tag "Register now",class: "btn btn-bib btn-green btn-form btn-margin" %>
    <%# end %>
  <% end %>

  <%= link_to "Or scan QR-code here", root_path, class: "btn btn-bib btn-grey btn-block" %>

  <div class="text-center text-small mt-5">Need help?
    <span class="font-d-yellow">Click here</span>
  </div>
</div>

<%= render "shared/menu" %>

<script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>


