<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session h-full successfully-registration bg-white">
  <div class="auth-session-container">
    <div class="info-container">
      <%= image_tag("info-success-icon", alt: "Information icon", class: "info-icon")%>
      <span class="text-success">Your tag with ID <b><%= @tag.code.upcase %></b> was successfully registered</span>
    </div>
    <h3 class="mb-0">Which item do you want to secure?</h3>
    <p class="mb-2">Please, select the item you do like to associate to your tag:</p>


    <div class="radio-box-container">
      <div class="radio-boxs">
        <%= form_tag update_register_category_path, method: :patch do %>
          <%= hidden_field_tag :code, @tag.code %>
          <%= radio_button_tag :item_select, "Laptop", false, :onclick => "this.parentNode.submit();" %>
          <%= image_tag("laptop-icon", alt: "Laptop icon", class: "category-icon")%>
          <span>Laptop</span>
          <div class="divider"></div>
          <%= radio_button_tag :item_select, "Phone", false, :onclick => "this.parentNode.submit();" %>
          <%= image_tag("phone-icon", alt: "Phone icon", class: "category-icon")%>
          <span>Phone</span>
          <div class="divider"></div>
          <%= radio_button_tag :item_select, "Keys", false, :onclick => "this.parentNode.submit();" %>
          <%= image_tag("key-icon", alt: "Keys icon", class: "category-icon")%>
          <span>Keys</span>
          <div class="divider"></div>
          <%= radio_button_tag :item_select, "Bag", false, :onclick => "this.parentNode.submit();" %>
          <%= image_tag("backpack-icon", alt: "Bag icon", class: "category-icon")%>
          <span>Bag</span>
        <% end %>
      </div>
    </div>

    <h3 class="mb-0">By default finders can see your phone number.</h3>
    <a href="#" class="link mt-0">Want to change this setting?</a>

    <div class="buttons-container">
      <%= link_to "Register another tag", register_input_path, class: "btn btn-primary"%>
      <!-- replace user path by correct (future) path to user dashboard -->
      <%= link_to "Visit your dashboard", dashboard_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

<!-- Shared Footer -->
<%= render "shared/footer" %>






