
<div class="container">
  <h2>Your code <%= @tag.code %> was successfully registered</h2>
  <br>
  <h3>Please select a category for your tag:</h3>
  <br>
  <div class="d-flex">
    <%= form_tag update_register_input_path, method: :patch do %>
    <%= hidden_field_tag :category, "Laptop" %>
      <%= submit_tag "Laptop", class: "btn btn-primary ml-5" %>
    <% end %>

    <%= form_tag update_register_input_path, method: :patch do %>
    <%= hidden_field_tag :category, "Phone" %>
      <%= submit_tag "Phone", class: "btn btn-warning ml-5" %>
    <% end %>

    <%= form_tag update_register_input_path, method: :patch do %>
    <%= hidden_field_tag :category, "Keys" %>
      <%= submit_tag "Keys", class: "btn btn-info ml-5" %>
    <% end %>
  </div>

  <br>

  <h3>Finders of your item can anonymously contact you via:</h3>
  <div class="d-inline">
    <strong class="mr-2">E-Mail:</strong><%=User.first.email%> <!-- change to current user -->
    <strong class="mr-2">Phone:</strong><%=User.first.phone%> <!-- change to current user -->
  <div>
    <%= link_to "Change your data", edit_user_registration_path, :class => "btn btn-link mt-5" %>
  </div>
  </div>

  <%= link_to "Register another tag", register_input_path, :class => "btn btn-success mt-5" %>
  <!-- replace user path by correct (future) path to user dashboard -->
  <%= link_to "Visit your dashboard", user_path(current_user.id), :class => "btn btn-warning mt-5" %>
</div>







