<h1>Design Components</h1>

<p><i class="fas fa-square" style="color:#6BC490;"></i>$c1 #6BC490</p>
<p><i class="fas fa-square" style="color:#5AA378;"></i>$c2 #5AA378</p>
<p><i class="fas fa-square" style="color:#FDD365;"></i>$c3 #FDD365</p>
<p><i class="fas fa-square" style="color:#EDB834;"></i>$c4 #EDB834</p>
<p><i class="fas fa-square" style="color:rgba(253, 211, 101, 0.7);"></i>$c5 rgba(253, 211, 101, 0.7) (#FDD365 in transparent)</p>
<p><i class="fas fa-square" style="color:#FFFFFF;"></i>$white #FFFFFF</p>
<p><i class="fas fa-square" style="color:#9E9E9E;"></i>$light-grey #9E9E9E</p>
<p><i class="fas fa-square" style="color:#4F4F4F;"></i>$dark-grey #4F4F4F</p>



<h1>H1 Test</h1>
<h2>H2 Test</h2>
<h3>H3 Test</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<h1>FORM STYLING RULES</h1>
<p>input: mb-3 py-4 px-4 </p>

<p>buttons</p>
  <!-- text buttons -->
  <%= link_to "Register my tag", "#", class: "btn btn-bib btn-green" %>
  <%= link_to "Return item", "#", class: "btn btn-bib btn-grey" %>

  <%= link_to ('<i class="fas fa-trash"></i>').html_safe, "#", class: "btn btn-icon" %>
  <%= link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, "#", class: "btn btn-icon" %>
  <%= link_to (image_tag "return.png", alt: "alttext", class: "btn-go-back"), :back %>

<p>avatar</p>
  <!-- Avatar -->
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-super-large", alt: "avatar-super-large" %>
  <!-- help: for changing a pic from our database to an avatar, use:  cl_image_tag @user.photo.key, class: "avatar-large" -->
  <!-- and wrap this in pe-tags! -->

<p>search form
  <!-- searching tools -->
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button id="search-btn" name="button" type="submit" class="btn btn-bib btn-green">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>


<div class="card-grid">
  <div class="card-tag">
    <img src= "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-tag-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>





<div class="footer mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-logo">
    <div class="bib-logo-footer">bibto.me</div>
    <div class="bib-logo-footer" id="bib-logo-footer-sub">bring it back to me</div>
  </div>
</div>



<!-- haveing an ellipse in the banner Anouk tried and didn't figure out -->
<!--   <svg height="300" width="500">
    <ellipse cx="120" cy="30" rx="200" ry="200" style="fill:red;" />
  </svg> -->




