<div class="landing-page">

  <div class="container" >

    <div id="banner-header">
      <h1>bibto.me</h1>
      <h3>bring it back to me</h3>
    </div>
    <div id="banner-slogan">
      <h1>Get your lost items returned easy, fast and secure.</h1>
    </div>

    <div id="lp-btn">
      <%= link_to "Register my tag", registration_path, class: "btn btn-bib btn-white mb-3 w-75" %>
      <%= link_to "Return item", pages_return_item_path, class: "btn btn-bib btn-grey mb-5 w-75" %>
    </div>

    <div class= "text-center text-white mt-5">
      <div class="mb-5">
        <%= image_tag "icon_QR_sticker.svg", alt: "alttext" %>
        <p class="mt-2">Choose your tag  <br> and get it shipped</p>
      </div>

      <div class="mb-5">
        <%= image_tag "icon_register.svg", alt: "alttext" %>
        <p class="mt-2">Register your tag and attach it to your item</p>
      </div>

      <div class="mb-5">
        <%= image_tag "icon_checked.svg", alt: "alttext" %>
        <p class="mt-2">When your lost item  <br>is found, get notified</p>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-logo">
    <div class="bib-logo-footer">bibto.me</div>
    <div class="bib-logo-footer" id="bib-logo-footer-sub">bring it back to me</div>
  </div>
</div>







