<body>
  <header class="home-header">
    <!-- Navbar -->
    <div class="container d-flex justify-content-between align-items-center pt-4">
      <%= image_tag("logo-blue.png", alt: "Bibtome Logo", class: "logo logo-blue")%>
      <ul class="navbar">
        <!-- For testing  -->
        <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "border-bottom" %></a>

        <li><%= link_to "Einloggen", new_user_session_path, class: "btn text-primary" %></li>
        <li><%= link_to "Registrieren", new_user_registration_path, class: "btn btn-primary" %></li>
      </ul>
    </div>

    <!-- Hero/banner -->
    <div class="container container-margin-helper home-banner">
      <div class="row">
        <div class="info col-md-6">
          <h1 class="title">Bekomme deine verlorene Gegenstände <b>schnell</b>, <b>einfach</b> und <b>sicher</b> zurück. </h1>
          <%= link_to "Tag registrieren", register_input_path, class: "btn btn-outline-primary btn-size-helper" %>
          <%= link_to "Gegenstand zurückgeben", finder_input_path, class: "btn btn-primary btn-size-helper" %>
        </div>
        <div class="col-md-6 iphone-mockup-container">
          <%= image_tag("iphone-mockup.png", alt: "Bibtome app on iphone-mockup", class: "iphone-mockup")%>
        </div>
      </div>
    </div>
  </header>


  <!-- How it works Section -->
  <section class="bg-white">
    <div class="container">
      <h2>Wie es funktioniert?</h2>
      <div class="custom-grid">
        <div class="gutter-max">
          <div class="circle circle-pink">
            <%= image_tag("spaceship.png", alt: "Choose your tag icon", class: "c-icon")%>
          </div>
          <h3>QR-Tag aussuchen und geliefert bekommen</h3>
          <p>In unserem Shop findest du verschiedene Tags – vom Sticker bis zum Schlüsselanhänger. Such dir einen aus und wir liefern ihn zu dir nach Hause.</p>
          <a href="#" class="link">Mehr erfahren <span class="ml-1">&#8594;</span></a>
        </div>
        <div class="gutter-max">
          <div class="circle circle-blue">
            <%= image_tag("badge.png", alt: "Register your tag", class: "c-icon")%>
          </div>
          <h3>QR-Tag registrieren und an Gegenstand anbringen</h3>
          <p>Scanne oder tippe deinen Code hier auf der Website ein, um deinen Code zu registrieren. Befestige ihn dann an einem Gegenstand, den du ungern verlieren möchtest. Fertig.</p>
          <a href="#" class="link">Mehr erfahren <span class="ml-1">&#8594;</span></a>
        </div>
        <div class="">
          <div class="circle circle-green">
            <%= image_tag("bell.png", alt: "Get notified", class: "c-icon")%>
          </div>
          <h3>Benachrichtigt werden, wenn der verlorene Gegenstand gefunden wurde</h3>
          <p>Wenn jemand deinen Gegenstand findet, kann er den Code mit seinem Telefon scannen und sich anschließend entweder anonym oder mit seinen Kontaktdaten bei dir melden. Du erhältst daraufhin eine Benachrichtigung.</p>
          <a href="#" class="link">Mehr erfahren <span class="ml-1">&#8594;</span></a>
        </div>
      </div>
    </div>
  </section>


  <!-- Tag Gallery/Cards Section -->
  <section class="card-gallery">
    <div class="container container-margin-helper text-center">
      <h3 class="mb-5">Hol dir Custom Schlüsselanhänger-Tags und Sticker für deine Gegenstände.</h3>
      <div class="row">
        <div class="col-sm col-md-4 gutter-min">
          <div class="card border-0">
            <%= image_tag("laptop-img.jpg", alt: "Laptop image", class: "card-img-top")%>
            <div class="card-body">
              <h4 class="card-title">Sticker für Smartphones, Laptops, etc.</h4>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4 gutter-min">
          <div class="card border-0">
            <%= image_tag("keys-img.jpg", alt: "Keys image", class: "card-img-top")%>
            <div class="card-body">
              <h4 class="card-title">Anhänger für deine Schlüssel</h4>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4">
          <div class="card border-0">
            <%= image_tag("iphone-img.jpg", alt: "Iphone image", class: "card-img-top")%>
            <div class="card-body">
              <h4 class="card-title">Anhänger für deine Tasche, Koffer, etc</h4>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-danger mt-5">- Nur für begrenzte Zeit -</h3>
      <p>Sicher dir einen kostenlosen Tag, um unseren Service auszuprobieren.</p>
      <%= link_to "Kostenlosen Tag bestellen", "https://bibto-me.myshopify.com/products/bibto-sticker", class: "btn btn-primary" %>
      <%= link_to "Kostenlosen Tag bestellen", class: "btn btn-outline-primary btn-size-helper" %>
    </div>
  </section>


  <!-- Bibtome increases the chances of returned lost items by 90% Section -->
  <section class="bg-primary">
    <div class="section-3 container d-flex">
      <div class="w-40 text-left ">
        <h2>Mit Bibto.me erhöhst du <br class="d-none-helper"> die Chance, deine verlorenen Gegenstände <br class="d-none-helper"> zurückzubekommen, um 90%</h2>
        <div class="border-span"></div>
        <p class="text-white">Wir haben es ausprobiert: 90% der Finder scannen unsere Tags und sorgen dafür, dass verlorene Dinge wieder zum Besitzer kommen.</p>
        <a href="#" class="link">Mehr erfahren <span class="ml-1">&#8594;</span></a>
      </div>
      <div class="image-container">
        <%= image_tag("car-key-img.jpg", alt: "Women holding a car keys", class: "image")%>
      </div>
    </div>
  </section>


  <!-- Data Privacy Section -->
  <section class="bg-white ">
    <div class="container">
      <h2>Wir schützen deine Privatsphäre</h2>
      <div class="row">
        <div class="col-sm gutter-max">
          <div class="d-flex circle-container">
            <div class="circle circle-blue m-0">
              <%= image_tag("ic_filter_1.png", alt: "For finders icon", class: "c-icon ic-filter")%>
            </div>
            <h3 class="ml-4">Für Finder</h3>
          </div>
          <p class="mt-3">Du hast die Wahl: Gib dem Besitzer deine Telefonnummer, deine E-Mail oder hinterlasse eine anonyme Nachricht.</p>
          <a href="#" class="link">Erfahre mehr über den Datenschutz für Finder <span class="ml-1">&#8594;</span></a>
        </div>
        <div class="col-sm">
          <div class="d-flex circle-container">
            <div class="circle circle-pink m-0">
              <%= image_tag("ic_filter_2.png", alt: "For owners icon", class: "c-icon ic-filter")%>
            </div>
            <h3 class="ml-4">Für Besitzer</h3>
          </div>
          <p class="mt-3">Als Besitzer kannst du entscheiden, ob du direkt via Telefon kontaktiert werden möchtest oder ob die Finder ihre Kontaktdaten lieber für dich hinterlassen.</p>
          <a href="#" class="link">Erfahre mehr über den Datenschutz für Besitzer <span class="ml-1">&#8594;</span></a>
        </div>
      </div>
    </div>
  </section>


  <!-- Testimonial slide-show/carousel Section -->
  <section class="carousel-section">
    <div class="container">
      <h2 class="mb-4">Was Leute sagen über uns</h2>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <p class="d-block w-100">“Ich habe meinen Schlüssel wohl im Park verloren. Ich hatte gehofft, dass ihn jemand findet und meinen Tag scannt - und tatsächlich. Noch am gleichen Abend erhielt ich eine Nachricht vom Finder und habe meinen Schlüssel zurückbekommen! Zum Glück musste ich keinen Schlüsseldienst bestellen, danke Bibito.me.“</p>
            <div class="quote-author">- Danny F.</div>
          </div>
          <div class="carousel-item">
            <p class="d-block w-100 ">“Ich habe meinen Schlüssel wohl im Park verloren. Ich hatte gehofft, dass ihn jemand findet und meinen Tag scannt - und tatsächlich. Noch am gleichen Abend erhielt ich eine Nachricht vom Finder und habe meinen Schlüssel zurückbekommen! Zum Glück musste ich keinen Schlüsseldienst bestellen, danke Bibito.me.“</p>
            <div class="quote-author">- Jan F.</div>
          </div>
          <div class="carousel-item">
            <p class="d-block w-100 ">“Ich habe meinen Schlüssel wohl im Park verloren. Ich hatte gehofft, dass ihn jemand findet und meinen Tag scannt - und tatsächlich. Noch am gleichen Abend erhielt ich eine Nachricht vom Finder und habe meinen Schlüssel zurückbekommen! Zum Glück musste ich keinen Schlüsseldienst bestellen, danke Bibito.me.“</p>
            <div class="quote-author">- Anouk E.</div>
          </div>
        </div>

        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators text-danger" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>



  <!-- Get started Section -->
  <section class="get-start bg-white">
    <div class="container text-center">
      <h2 class="mb-4">Jetzt absichern</h2>
      <p>Mit einem kostenlosen Tag. Nur noch 100 Stück übrig</p>
      <%= link_to "Registrieren", new_user_session_path, class: "btn btn-primary my-4" %>
      <h4 class="text-center">
        Noch Fragen? <%= link_to "Hier klicken.", finder_input_path, class: "link d-inline" %>
      </h4>
    </div>
  </section>

<%#= link_to "Hier klicken.", finder_input_path, class: "link" %>


  <!-- Shared Footer -->
  <%= render "shared/footer" %>

</body>





