<div class="container">
  <div class="my-5 mx-2">
    <div class="pb-4 back-arrow-position-fix">
      <h2 class="text-center">Return Item</h2>
        <%= link_to (image_tag "return.png", class: "btn-go-back"), root_path %>
    </div>

    <p class="">Please insert the tag ID to proceed verification: </p>

    <div class="">
       <p class="text-danger">
        <% if @error != '' %>
          <i class="fas fa-exclamation-triangle"></i>
        <% end %>
        <%= @error %></p>
       <%= form_tag return_tag_verification_path, method: :post do %>
        <%= text_field_tag :code,
          params[:code],
          required: :true,
          class: "bib-form-styling btn-block py-3 px-4 mb-3",
          placeholder: "HIJKLMNOPQRSTUVWXYZ"
        %>
        <%= submit_tag "Send code", class: "btn btn-bib btn-green btn-block py-3"%>
      <% end %>
    </div>

    <p class="text-center">Or scan QR-code here:</p>
    <i class="fas fa-qrcode w-100 text-center text-secondary" style="font-size: 4rem"></i>

    <div class="text-center text-small">Need help?<span style="color: #FDD365">Click here.</span></div>
  </div>
</div>




