<h2>Your code <%= @tag.code %> was successfully registered</h2>
<br>
<h3>Finders of your item can anonymously contact you via:</h3>
<br>
<strong>E-Mail:</strong><%=User.first.email%> <!-- change to current user -->
<strong>Phone:</strong><%=User.first.phone%> <!-- change to current user -->

<%= link_to "Change contact data", edit_user_registration_path, :class => "btn btn-link mt-5" %>
<br>

<h3>Please select a category for your tag:</h3>

 <%= simple_form_for @tag do |f| %>
    <%= f.input :category, as: :radio_buttons, collection: ['laptop', 'key', 'phone'] %>
 <% end %>



    <div class="category-choices">
      <input type="checkbox" class="hidden" value="Laptop">
      <input type="checkbox" class="hidden" value="Laptop">
      <input type="checkbox" class="hidden" value="Laptop">
   </div>


<%= link_to "Register another tag", registration_path, :class => "btn btn-success mt-5" %>
<!-- replace user path by correct (future) path to user dashboard -->
<%= link_to "Visit your dashboard", registration_path, :class => "btn btn-warning mt-5" %>


<%= link_to 'Laptop', tag_path(tag, id: "Laptop"), method: :patch %>


<%= form_tag tag_path(@tag), method: :patch do %>
<%= hidden_field_tag :category, "Laptop" %>
  <%= submit_tag "Laptop form tag", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Phone', tag_path(tag, id: "Phone"), method: :patch %>
<%= link_to 'Keys', tag_path(tag, id: "Keys"), method: :patch %>






