<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session bg-white">
  <div class="auth-session-container">
    <h2>Anmelden</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.error :email %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email"},
                    placeholder: "E-mail",
                    label: false%>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password"},
                    placeholder: "Password",
                    label: false %>
        <%= f.input :remember_me,
                    label_html: {class: "checkbox"},
                    as: :boolean if devise_mapping.rememberable?%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Einloggen", class: "btn btn-primary" %>
      </div>
    <% end %>


    <!-- Shared Links -->
    <%= render "devise/shared/links" %>
  </div>
</div>






