<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session finder-input bg-white">
  <div class="auth-session-container">
    <h2 class="mb-4">Return Item</h2>
    <p>Please insert the tag ID to proceed verification:</p>

    <div class="form-inputs">
      <%= form_tag new_tag_finder_path, method: :get do %>
        <div class="errors">
          <% if @error %>
            <%= @error %>
          <% end %>
        </div>
        <%= text_field_tag :code,
                    params[:code],
                   required: :true,
                placeholder: "Enter your code here",
                      class: "form-control mb-2"%>
        <%= submit_tag "Send code",class: "btn btn-primary" %>
      <% end %>
    </div>
    <h3 class="mt-5 text-center">Need help? <a href="#">Contact us.</a></h3 class="mt-5 text-center">
  </div>
</div>
