<div class="page-title">
  <div class="container mb-2">
    <div class="d-flex">
      <%= link_to :back do %>
          <h2><i class="fas fa-chevron-left text-dark"></i></h2>
      <% end %>
      <h2 class="mx-auto">Return Item</h2>
    </div>
  </div>
</div>

<div class="container pt-4">
<div class="text-center mt-3 mb-5">
  <%= image_tag "heart-in-hand.gif", class: "mb-4" %>
</div>
    <p class="text-center mb-5">Please insert the tag ID <br> to proceed verification: </p>

    <div class="container">

      <%= form_tag new_tag_finder_path, method: :get do %>
        <%= text_field_tag :code,
            params[:code],
            required: :true,
            class: "bib-form-styling btn-block pl-3 text-input",
            style: "padding: 12px 0",
            placeholder: "Code here" %>
            <% if @error %>
              <span class="text-danger ml-3 text-input"><%= @error%></span>
            <% end %>
        <%= submit_tag "Send code", class: "btn btn-bib btn-green btn-block mt-3"%>
      <% end %>



    <%= link_to "Or scan QR-code here", root_path, class: "btn btn-bib btn-grey btn-block mt-3" %>


    <!-- <p class="text-center mt-5">Or scan QR-code here:</p>
    <i class="fas fa-qrcode w-100 text-center text-secondary" style="font-size: 4rem"></i> -->
    <h5 class="text-center mt-5 need-help">Need help? <span class="help-color">Click here.</span></h5>




</div>

<%= render "shared/menu" %>
