<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="container">
  <div class="">
    <h2>You are a hero!</h2>
    <h3>You have found <%= @tag.user.first_name %>´s <%= @tag.category %>.</h3>

    <% if @tag.user.phone && @tag.user.shared_phone %>
        <p>Please contact <%= @tag.user.first_name %> directly:</p>
        <p><%= @tag.user.phone %></p>
        <%= link_to "I will reach out to #{@tag.user.first_name}", finder_thank_you_path(@tag), class: "btn btn-primary" %>
        <h3>OR</h3>
        <div class="checkbox">
          <label id="checky" class="switch">
            <input type="checkbox" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <span class="slider round"></span>
          </label>
          <h4 class="mb-2">Share my contact info with <%= @tag.user.first_name %>!</h4>
        </div>
        <div class="collapse" id="collapseExample">
          <%= render "contact_form" %>
        </div>
    <% else %>
      <%= render "contact_form" %>
    <% end %>
  </div>
</div>

<!-- Shared Footer -->
<%= render "shared/footer" %>


