<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session h-full bg-white" style="overflow: scroll;">
  <div class="auth-session-container">
    <h2>You are a hero!</h2>
    <h4>You have found <%= @tag.user.first_name %>´s <%= @tag.category %>.</h4>

    <% if @tag.user.phone && @tag.user.shared_phone %>
        <p>Contact <%= @tag.user.first_name %> directly: <%= @tag.user.phone %></p>
        <%= link_to "I will reach out to #{@tag.user.first_name}", finder_thank_you_path(@tag), class: "btn btn-primary mt-2" %>
        <h4 class="mt-3">OR</h4>
        <div class="checkbox d-flex align-items-center">
          <label id="checky" class="switch mr-2">
            <input type="checkbox" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <span class="slider round"></span>
          </label>
          <h4 class="mb-2">Share my contact info with <%= @tag.user.first_name %>!</h4>
        </div>
        <div class="collapse" id="collapseExample">
          <%= render "contact_form" %>
        </div>
    <% else %>
      <%= render "contact_form" %>
    <% end %>
  </div>
</div>



