<div class="container">
  <div class="my-5 mx-2">
    <div class="pb-4 back-arrow-position-fix">
      <h3 class="text-center">You are a hero!</h3>
        <%= link_to (image_tag "return.png", class: "btn-go-back"), :back %>
    </div>

    <h4 class="text-center">
      <div class="mb-4">
        <%= image_tag "heart.gif", class: "mb-4" %> <br>
        You have found <%= @tag.user.first_name %>´s bag <br>
      </div>
      <% if @tag.user.phone && @tag.user.shared_phone %>
          Please contact <%= @tag.user.first_name %> directly: <br> <strong><%= @tag.user.phone %></strong><br>

          <%= link_to "I will reach out to #{@tag.user.first_name}", finder_thank_you_path , class: "btn btn-bib btn-green btn-form mt-4" %>

          <p class="mt-5">
            <div class="checkbox">
              <label id="checky" class="switch">
                <input type="checkbox" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span class="slider round"></span>
                </label>
                I want to get contacted!
            </div>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Leave your contact info & get contacted by <%= @tag.user.first_name %>
              <div class="mt-1">
                <%= simple_form_for [@tag, @finder] do |f| %>
                  <%= f.input :phone,
                              placeholder: 'Your phone',
                              label: false,
                              required: false,
                              input_html: { class: "bib-form-styling text-input" }
                              %>
                  <%= f.input :email,
                              label: false,
                              placeholder: 'Your Email',
                              required: false,
                              input_html: { autocomplete: "email", class: "bib-form-styling text-input" }
                               %>
                  <%= f.input :message,
                              label: false,
                              placeholder: 'Message',
                              input_html: { class: "bib-form-styling text-input" },
                              required: false
                              %>
                  <%= f.input :tag, :as => :hidden, :input_html => { :value => params[:format] } %>

                  <%= f.button :submit, "Share my contact infos", class: "btn btn-bib btn-grey btn-form" %>
                <% end %>
              </div>
            </div>
          </div>

        <% else %>
          Leave your contact info <br> - or a message - <br> & get contacted by <%= @tag.user.first_name %>
              <div class="mt-1">
                <%= simple_form_for [@tag, @finder] do |f| %>
                  <%= f.input :phone,
                              placeholder: 'Your phone',
                              label: false,
                              required: false,
                              input_html: { class: "bib-form-styling text-input" }
                              %>
                  <%= f.input :email,
                              label: false,
                              placeholder: 'Your Email',
                              required: false,
                              input_html: { autocomplete: "email", class: "bib-form-styling text-input" }
                               %>
                  <%= f.input :message,
                              label: false,
                              placeholder: 'Message',
                              input_html: { class: "bib-form-styling text-input" },
                              required: true
                              %>
                  <%= f.input :tag, :as => :hidden, :input_html => { :value => params[:format] } %>

                  <%= f.button :submit, "Share my contact infos", class: "btn btn-bib btn-grey btn-form" %>
                <% end %>
              </div>
      <% end %>



    <h5 class="text-center mt-5">Need help?<span class="font-d-yellow">Click here.</span></h5>
  </div>
</div>
