<div class="container">
  <div class="my-5 mx-2">
    <div class="mb-5 pb-4 back-arrow-position-fix">
      <h3 class="text-center">Contact Details</h3>
        <%= link_to (image_tag "return.png", class: "btn-go-back"), "#" %>
    </div>

    <h4>
      You are a hero! ❤️ <br>
      You have found <%= @tag.user.first_name %>´s bag <br>
      <% if @tag.user.phone && @tag.user.shared_phone %>
        Please contact him/her here: <%= @tag.user.phone %>
      <% end %>
    </h4>
  <%# raise %>
    <div class="mt-5">
       <%= simple_form_for [@tag, @finder] do |f| %>
          <%= f.input :phone,
                      placeholder: 'Phone number',
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "bib-form-styling btn-block py-3 px-4 mb-3" }
                      %>
          <%= f.input :email,
                      label: false,
                      placeholder: 'Email',
                      required: false,
                      input_html: { autocomplete: "email", class: "bib-form-styling btn-block py-3 px-4 mb-3" }
                       %>
          <%= f.input :message,
                      label: false,
                      placeholder: 'Message',
                      required: false %>
          <%= f.input :tag, :as => :hidden, :input_html => { :value => params[:format] } %>

          <%= f.button :submit, "Share information with owner", class: "btn btn-bib btn-green btn-block py-3" %>
      <% end %>
    </div>

    <h5 class="text-center mt-5">Need help?<span class="font-d-yellow">Click here.</span></h5>
  </div>
</div>

<%= render "shared/menu" %>
